.bespoke-slider-section {
    background: var(--s-bg-color, $dv_black);
    padding-bottom: var(--s-pd-top, 90px);
    .bespoke-slider-wrapper .bespoke-slider-heading-wrap {
        padding-bottom: var(--s-pd-bottom, 90px);
    }
    @media(max-width: 767.98px) {
        padding-bottom: calc(var(--s-pd-top, 90px) * 0.5);
        
        .bespoke-slider-wrapper .bespoke-slider-heading-wrap {
            padding-bottom: calc(var(--s-pd-bottom, 90px) * 0.5);
        }
    }
}

.bespoke-slider-section {
    position: relative;
    .container {
        max-width: 1446px; 
    }
    .bespoke-slider-wrapper { 
        .bespoke-slider-heading-wrap {
            max-width: 1336px;
            margin: 0 auto;
        }
        .bespoke-slider-heading {
            font-family: $primary_font_bold;
            font-size: 1.688rem;
            font-weight: normal;
            line-height: 1;
            color: #fff;
            background: $primary_color;
            display: inline-block;
            min-width: 230px;
            text-align: center;
            padding: 26px 30px 22px;
            margin: 0;
        }
        .carousel-wrapper {
            overflow: hidden;
            @extend .__carousel-navigation-style;
            .slick-list {
                position: relative;
                max-width: 1080px;
                margin: 0 auto;
                padding: 0 60px;
                opacity: 0;
                transform: translateX(100%);
                transition: opacity 0.5s, transform 0.5s;
                &.active {
                    opacity: 1;
                    transform: translateX(0);
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: calc(100% + 120px);
                    height: 7px;
                    background: #fff;
                    border-radius: 10px;
                    transform: translate(-50%, -50%);
                }
                .carousel-item {
                    &:not(.slick-active) {
                        opacity: 0;
                    }
                    &:nth-child(2n) {
                        .bespoke-item {
                            margin-top: 360px;
                            margin-bottom: 0;
                            &:before {
                                top: -78px;
                                bottom: auto;
                                height: 105px;
                            }
                            &:after {
                                top: -90px;
                                bottom: auto;
                            }
                            &:not(.has-thumbnail) {
                                padding-top: 35px;
                            }
                            &--inner {
                                top: auto;
                                bottom: 0;
                            }
                        }
                    }
                }
                .bespoke-item {
                    position: relative;
                    width: 100%;
                    margin-bottom: 360px;
                    z-index: 1;
                    &:not(.has-thumbnail) {
                        padding-top: 90px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -78px;
                        left: calc(50% - 1px);
                        width: 2px;
                        height: 70px;
                        background: #fff;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -90px;
                        left: calc(50% - 12px);
                        width: 24px;
                        height: 24px;
                        background: #fff;
                        border-radius: 50px;
                    }
                    &--inner {
                        font-size: 14px;
                        color: #fff;
                        max-width: 200px;
                        margin: 0 -35%;
                    }
                    &--thumbnail {
                        position: relative;
                        width: 90px;
                        height: 90px;
                        margin: 0 auto;
                        overflow: hidden;
                        border-radius: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &--year {
                        font-family: $primary_font_bold;
                    }
                    &--desc {
                        overflow: hidden;
                        width: 100%;
                        height: 90px;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
    @media(max-width: 1200px) {
        .container {
            max-width: 1100px; 
        }
        .bespoke-slider-wrapper {
            .bespoke-slider-heading {
                font-size: 2.188rem;
            }
        }
    }
    @media(max-width: 1024px) {
        .container {
            max-width: 900px; 
        }
        .bespoke-slider-wrapper {
            .bespoke-slider-heading {
                font-size: 1.875rem;
            }
        }
    }
    @media(max-width: 768px) {
        .container {
            max-width: 700px; 
        }
        .bespoke-slider-wrapper {
            .bespoke-slider-heading {
                min-width: 200px;
                padding: 20px 26px 16px;
                font-size: 1.8rem;
            }
        }   
    }
    @media(max-width: 600px) {
        .bespoke-slider-wrapper {
            .bespoke-slider-heading {
                font-size: 1.5rem;
            }
        }
    }
    @media(max-width: 420px) {
        .bespoke-slider-wrapper {
            .carousel-wrapper {
                .slick-list {
                    padding: 0 40px;
                }
            }
        }
    }
}