// Carousel component
.hero-carousel {
    background-color: var(--s-bg-color);
    padding-top: var(--s-pd-top, 60px);
    padding-bottom: var(--s-pd-bottom, 60px);
    overflow: hidden;
    @media(max-width: 1024px) {
        padding-top: calc(var(--s-pd-top, 60px) * 0.75);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.75);
    }
    @media(max-width: 768px) {
        padding-top: calc(var(--s-pd-top, 60px) * 0.5);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.5);
    }
    .carousel-wrapper {
        background-color: $primary_color;
        animation: slide-right-animation 0.4s linear both;
        .slick-track {
            display: flex;
        }
        .carousel-item {
            height: auto;
            &:not(:first-child) {
                display: none;
            }
            &.slick-slide {
                display: block;
            }
            &.slick-active {
                .item-inner .item-img img.quote-shape {
                    visibility: visible;
                }
            }
            .item-inner {
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                gap: 60px;
                .item-content {
                    max-width: 760px;
                    height: 100%;
                    padding: 60px 0 110px;
                    color: #fff;
                    display: flex;
    
                    .title {
                        margin: 0;
                        font-size: 2.688rem;
                        line-height: 120%;
                    }
                    .description {
                        margin-top: 24px;
                        * {
                            font-size: 1rem;
                            line-height: 140%;
                            color: #fff;
                        }
                        *:first-child {
                            margin-top: 0;
                        }
                        *:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .group-cta {
                        margin-top: 32px;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 26px;
                        .primary-cta {
                            display: block;
                            max-width: 300px;
                            padding: 14px 36px 12px;
                            font-size: 1.125rem;
                            font-family: $primary_font_bold;
                            line-height: 120%;
                            background-color: #fff;
                            border: 2px solid #fff;
                            transition: all 0.4s;
                        }
                        .secondary-cta {
                            position: relative;
                            display: block;
                            font-size: 1.125rem;
                            font-family: $primary_font_bold;
                            line-height: 120%;
                            color: #fff;
                            border-bottom: 2px solid #fff;
                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                transform: scaleX(0);
                                height: 2px;
                                bottom: -2px;
                                left: 0;
                                background-color: #fff;
                                transform-origin: bottom right;
                                transition: transform 0.4s ease-out;
                            }
                            &:hover {
                                border-color: transparent!important;
                                &::after {
                                    transform: scaleX(1);
                                    transform-origin: bottom left;
                                }
                            }
                        }
                    }
                }
                .item-img {
                    position: relative;
                    width: 100%;
                    max-width: 526px;
                    margin-bottom: -2px;
                    img.main-img {
                        position: relative;
                        margin: 0 0 -34px;
                        z-index: 2;
                    }
                    img.quote-shape {
                        visibility: hidden;
                        position: absolute;
                        top: 20px;
                        right: -30%;
                        width: 322px;
                        z-index: 1;
                    }
                }
            }
        }
        .slick-dots {
            width: 100%;
            right: 0;
            left: 0;
            bottom: 50px;
            position: absolute;
            display: flex;
            gap: 10px;
            justify-content: left;
            list-style: none;
            li {
                margin: 0;
                padding: 0;
                button {
                    padding: 0;
                    width: 22px;
                    height: 22px;
                    color: transparent;
                    background-color: transparent;
                    border: 2px solid #fff;
                    border-radius: 50%;
                }
                &.slick-active {
                    button {
                        background-color: #fff;
                    }
                }
            }
        }
        .slick-prev {
            position: absolute;
            z-index: 1;
            bottom: 50%;
            transform: translateY(-50%);
            left: 0;
        }
        .slick-next {
            position: absolute;
            z-index: 1;
            bottom: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }

/* The slide right effect */
@keyframes slide-right-animation {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

    /*************************** Laptop **************************/
    @media only screen and (max-width: 1440px) {
        .carousel-wrapper {
            .carousel-item {
                min-height: unset;
                .item-inner {
                    .item-content {
                        max-width: 660px;
                        .title {
                            font-size: 2.288rem;
                        }
                    }
                    .item-img {
                        img.main-img {
                            min-height: unset;
                        }
                        img.quote-shape {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .carousel-wrapper {
            .carousel-item {
                min-height: unset;
                .item-inner {
                    .item-content {
                        padding: 30px 0 80px;
                        .title {
                            font-size: 2.188rem;
                        }
                    }
                    .item-img {
                        img.quote-shape {
                            width: 240px;
                        }
                    }
                }
            }
            .slick-dots {
                bottom: 30px;
            }
        }
    }

    /*************************** Tablet **************************/
    @media only screen and (max-width: 1024px) {
        .carousel-wrapper {
            .carousel-item {
                min-height: unset;
                .item-inner {
                    .item-content {
                        padding: 30px 0 70px;
                        max-width: 560px;
                        .title {
                            font-size: 1.875rem;
                        }
                        .group-cta {
                            margin-top: 24px;
                            .primary-cta {
                                padding: 12px 20px 10px;
                                font-size: 1rem;
                            }
                            .secondary-cta {
                                font-size: 1rem;
                            }
                        }
                    }
                    .item-img {
                        img.main-img {
                            min-height: unset;
                        }
                        img.quote-shape {
                            width: 170px;
                        }
                    }
                }
            }
            .slick-dots {
                bottom: 24px;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .carousel-wrapper {
            .carousel-item {
                .item-inner {
                    gap: 24px;
                    .item-content {
                        .title {
                            font-size: 1.75rem;
                        }
                    }
                    .item-img {
                        img.main-img {
                            max-width: 240px;
                        }
                        img.quote-shape {
                            right: -50px;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

    /*************************** Mobile **************************/
    @media only screen and (max-width: 600px) {
        .carousel-wrapper {
            .carousel-item {
                .item-inner {
                    flex-wrap: wrap-reverse;
                    gap: 0;
                    .item-content {
                        .title {
                            font-size: 1.5rem;
                        }
                        .group-cta {
                            .primary-cta {
                                padding: 10px 18px 8px;
                            }
                        }
                    }
                    .item-img {
                        max-width: 100%;
                        img.main-img {
                            margin: auto;
                            max-width: 280px;
                        }
                        img.quote-shape {
                            right: 6px;
                            width: 180px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 425px) {
        .carousel-wrapper {
            .carousel-item {
                .item-inner {
                    .item-img {
                        img.main-img {
                            max-width: 240px;
                        }
                        img.quote-shape {
                            top: 10px;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

}
