.ipro-carousel-section {
    background: var(--s-bg-color, $dv_background);
    padding-top: var(--s-pd-top, 60px);
    padding-bottom: var(--s-pd-bottom, 60px);
    @media(max-width: 1024px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media(max-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.ipro-carousel-section {
    position: relative;
    .container {
        @media(min-width: 1025px) {
            max-width: 1446px;
        }
    }
    .ipro-carousel-wrapper {
        .ipro-heading-wrap {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            max-width: 1030px;
            margin: 0 auto 50px;
        }
        .ipro-heading {
            font-family: $primary_font_bold;
            font-size: 2.313rem;
            font-weight: normal;
            line-height: 1.3;
            color: $primary_color;
            max-width: 568px;
            margin: 0;
        }
        .ipro-find-out-more {
            display: inline-block;
            font-family: $primary_font_bold;
            font-size: 1rem;
            text-decoration: underline;
            text-underline-offset: 3px;
            color: $primary_color;
            margin-top: 10px;
        }
        .carousel-wrapper {
            overflow: hidden;
            @extend .__carousel-navigation-style;
            .slick-arrow {
                position: absolute;
                left: 0;
                &.slick-next {
                    left: auto;
                    right: 0;
                }
            }
            .slick-list {
                max-width: 1080px;
                margin: 0 auto;
                opacity: 0;
                transform: translateX(100%);
                transition: opacity 0.5s, transform 0.5s;
                &.active {
                    opacity: 1;
                    transform: translateX(0);
                }
                .slick-slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 40px;
                }
            }
            .carousel-inner {
                padding: 0 30px;
            }
            .ipro-item {
                max-width: 300px;
                margin: 0 auto;
                &--icon {
                    position: relative;
                    padding-bottom: 100%;
                    background: $accent_color;
                    overflow: hidden;
                    margin-bottom: 30px;
                    border-radius: 100%;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        max-width: 60%;
                        width: 148px;
                        height: auto;
                        transform: translate(-50%, -50%);
                    }
                }
                &--content {
                    font-family: $primary_font_demi;
                    > * {
                        font-family: inherit;
                        &:first-child {
                          margin-top: 0;
                        }
                        &:last-child {
                          margin-bottom: 0;
                        }
                    }
                }
            }
        }
        @media(max-width: 1440px) {
            .carousel-wrapper {
                .ipro-item--icon {
                    padding-bottom: 0;
                    width: 260px;
                    height: 260px;
                    img {
                        width: 130px;
                    }
                }
            }
        }
        @media(max-width: 1200px) {
            .ipro-heading {
                font-size: 2.188rem;
            }
        }
        @media(max-width: 1024px) {
            .ipro-heading {
                font-size: 1.875rem;
            }
            .carousel-wrapper {
                .slick-list {
                    max-width: 680px;
                    .slick-slide {
                        gap: 24px;
                    }
                }
                .ipro-item--icon {
                    width: 220px;
                    height: 220px;
                    img {
                        width: 110px;
                    }
                }
            }
        }
        @media(max-width: 768px) {
            .ipro-heading-wrap {
                flex-direction: column;
            }
            .ipro-heading {
                font-size: 1.8rem;
            }
            .carousel-wrapper {
                .carousel-inner {
                    padding: 0 15px;
                }
            }
        }
        @media(max-width: 600px) {
            .ipro-heading-wrap {
                margin-bottom: 32px;
                gap: 6px;
            }
            .ipro-heading {
                font-size: 1.5rem;
            }
        }
    }
}