.latest-posts {
    background-color: var(--s-bg-color);
    padding-top: var(--s-pd-top, 60px);
    padding-bottom: var(--s-pd-bottom, 60px);
    @media(max-width: 1024px) {
        padding-top: calc(var(--s-pd-top, 60px) * 0.75);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.75);
    }
    @media(max-width: 768px) {
        padding-top: calc(var(--s-pd-top, 60px) * 0.5);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.5);
    }
    .posts-wrapper {
        max-width: 1024px;
        margin: 0 auto;
        .top {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        .bottom {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .heading {
            font-size: 2.313rem;
            color: var(--post-brand-color, $primary_color);
            margin: 0;
        }
        .top-cta-btn {
            position: relative;
            display: block;
            font-size: 0.875rem;
            font-family: $primary_font_bold;
            line-height: 1;
            color: var(--post-brand-color, $primary_color);
            border-bottom: 2px solid var(--post-brand-color, $primary_color);
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -2px;
                left: 0;
                background-color: var(--post-brand-color, $primary_color);
                transform-origin: bottom right;
                transition: transform 0.4s ease-out;
            }
            &:hover {
                border-color: transparent!important;
                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
        .load-more-cta {
            position: relative;
            padding: 14px 32px 12px;
            display: inline-block;
            font-size: 1rem;
            font-family: $primary_font_bold;
            line-height: 1;
            color: #fff;
            background-color: var(--post-brand-color, $primary_color);
            border: none;
            transition: all 0.3s;
            &:hover {
                background-color: #007995;
            }
            .loading-wrapper {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.loading {
                .text {
                    visibility: hidden;
                }
                .loading-wrapper {
                    display: block;
                }
            }
        }
        .posts-list {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            column-gap: 66px;
            row-gap: 80px;
            .post {
                margin: 0;
                padding: 0;
                position: relative;
                list-style: none;
                background-color: #fff;
                border: 1px solid #f6f6f6;
                transition: all 0.2s;
                animation: card-zoom-out 0.3s linear;
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;
                    .__thumb img {
                        transform: scale(1.05);
                    }
                }
                .__thumb {
                    overflow: hidden;
                    height: 164px;
                    img {
                        display: block;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.3s;
                    }
                }
                .post-meta {
                    padding: 18px 26px 24px;
                }
                .__title {
                    font-size: 1.125rem;
                    line-height: 130%;
                    font-family: $primary_font_bold;
                    a {
                        display: block;
                        color: $dv_black;
                        transition: all 0.3s;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border: 2px solid transparent;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@keyframes card-zoom-out {
    from { 
        transform: scale(0.1);
    }
	to { 
        transform: scale(1);
    }
}

@media only screen and (max-width: 1200px) {
    .latest-posts {
        .posts-wrapper {
            .posts-list {
                column-gap: 40px;
                row-gap: 60px;
            }
        }
    }
}

/*************************** Tablet **************************/
@media only screen and (max-width: 1024px) {
    .latest-posts {
        .posts-wrapper {
            .heading {
                font-size: 1.825rem;
            }
            .posts-list {
                column-gap: 30px;
                row-gap: 50px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .latest-posts {
        .posts-wrapper {
            .top {
                margin-bottom: 24px;
            }
            .bottom {
                margin-top: 32px;
            }
            .heading {
                font-size: 1.5rem;
            }
            .posts-list {
                column-gap: 24px;
                row-gap: 36px;
                .post {
                    .post-meta {
                        padding: 16px;
                    }
                }
            }
        }
    }
}

/*************************** Mobile **************************/
@media only screen and (max-width: 600px) {
    .latest-posts {
        .posts-wrapper {
            .top {
                flex-wrap: wrap;
                gap: 16px;
            }
            .bottom {
                margin-top: 24px;
            }
            .load-more-cta {
                padding: 12px 20px 10px;
                font-size: 0.875rem;
            }
            .posts-list {
                row-gap: 24px;
                .post {
                    .__title {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
