.latest-posts {
    background-color: var(--s-bg-color);
    padding-top: var(--s-pd-top, 0);
    padding-bottom: var(--s-pd-bottom, 60px);
    @media(max-width: 1024px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.8);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.8);
    }
    @media(max-width: 768px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.6);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.6);
    }
    .posts-wrapper {
        max-width: 1024px;
        margin: 0 auto;
        .top {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        .bottom {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .heading {
            font-size: 2.313rem;
            color: var(--post-brand-color, $primary_color);
            margin: 0;
        }
        .top-cta-btn {
            position: relative;
            display: block;
            font-size: 0.875rem;
            font-family: $primary_font_bold;
            line-height: 1;
            color: var(--post-brand-color, $primary_color);
            border-bottom: 2px solid var(--post-brand-color, $primary_color);
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -2px;
                left: 0;
                background-color: var(--post-brand-color, $primary_color);
                transform-origin: bottom right;
                transition: transform 0.4s ease-out;
            }
            &:hover {
                border-color: transparent!important;
                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
        .load-more-cta {
            position: relative;
            padding: 14px 32px 12px;
            display: inline-block;
            font-size: 1rem;
            font-family: $primary_font_bold;
            line-height: 1;
            color: #fff;
            background-color: var(--post-brand-color, $primary_color);
            border: none;
            transition: all 0.3s;
            &:hover {
                background-color: #007995;
            }
            .loading-wrapper {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.loading {
                .text {
                    visibility: hidden;
                }
                .loading-wrapper {
                    display: block;
                }
            }
        }
    }
}

@keyframes card-zoom-out {
    from { 
        transform: scale(0.1);
    }
	to { 
        transform: scale(1);
    }
}

@media only screen and (max-width: 1200px) {
    .latest-posts {
        .posts-wrapper {
            .heading {
                font-size: 2.188rem;
            }
        }
    }
}

/*************************** Tablet **************************/
@media only screen and (max-width: 1024px) {
    .latest-posts {
        .posts-wrapper {
            .heading {
                font-size: 1.875rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .latest-posts {
        .posts-wrapper {
            .top {
                margin-bottom: 24px;
            }
            .bottom {
                margin-top: 32px;
            }
            .heading {
                font-size: 1.5rem;
            }
        }
    }
}

/*************************** Mobile **************************/
@media only screen and (max-width: 600px) {
    .latest-posts {
        .posts-wrapper {
            .top {
                flex-wrap: wrap;
                gap: 16px;
            }
            .bottom {
                margin-top: 24px;
            }
            .load-more-cta {
                padding: 12px 20px 10px;
                font-size: 0.875rem;
            }
        }
    }
}
