
section.main-content {
    background-color: var(--s-bg-color);
    padding-top: var(--s-pd-top, 0);
    padding-bottom: var(--s-pd-bottom, 60px);
    @media(max-width: 1024px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.8);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.8);
    }
    @media(max-width: 768px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.6);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.6);
    }
    &.recipe-info {
        .main-content-inner {
            .content-wrapper {
                .__content {
                    & > *:first-child {
                        margin-top: 0;
                    } 
                    & > *:last-child {
                        margin-bottom: 0;
                    } 
                    p {
                        margin: 12px 0;
                    }
                }
            }
            .sidebar {
                .recipe-cats-list {
                    li {
                        margin-bottom: 8px;
                        color: #fff;
                        a {
                            color: #fff;
                            font-family: $primary_font_bold;
                        }
                    }
                }
            }
        }
    }
    &.recipe-archive {
        .main-content-inner .sidebar {
            .secondary-info {
                padding: 24px 30px;
                .recipe-cats-list {
                    li {
                        margin-bottom: 8px;
                        color: #fff;
                        a {
                            color: #fff;
                            font-family: $primary_font_bold;
                        }
                    }
                }
            }
        }
    }
    .main-content-inner {
        max-width: 1054px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        flex-direction: row-reverse;
        gap: 66px;
        &.has-sidebar {
            .content-wrapper {
                width: 66%;
            }
        }
        .content-wrapper {
            width: 100%;
            height: fit-content;
            background-color: #fff;
            animation: content-slide-left 0.3s linear both;
            img {
                display: block;
            }
            .wp-video {
                width: 100%!important;
                height: 390px;
                .mejs-container {
                    height: 390px!important;
                    iframe {
                        width: 100%!important;
                        height: 390px!important;
                    }
                    video {
                        height: 390px!important;
                    }
                }
            }
            .__content {
                padding: 38px 26px;
                font-size: 0.875rem;
                color: $dv_black;
                .__title {
                    margin-bottom: 30px;
                    font-size: 2.313rem;
                    line-height: 110%;
                    color: var(--post-brand-color, $primary_color);
                }
                & > *:first-child {
                    margin-top: 0;
                } 
                & > *:last-child {
                    margin-bottom: 0;
                } 
                a {
                    color: var(--post-brand-color, $primary_color);
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
                img {
                    margin: 30px 0;
                    width: auto;
                    &.aligncenter {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                iframe {
                    width: 100%!important;
                }
                .__cta {
                    display: block;
                    width: fit-content;
                    margin-top: 30px;   
                    padding: 12px 34px 10px;
                    color: #fff;
                    background-color: var(--post-brand-color, $primary_color);
                    text-decoration: none;
                    font-size: 1rem;
                    font-family: $primary_font_bold;
                }
            }
        }
        .sidebar {
            max-width: 300px;
            width: 100%;
            animation: sidebar-slide-right 0.4s linear both;
            .__heading {
                margin: 0 0 20px;
                font-size: 1.063rem;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
            }
            &.sticky {
                .sidebar-inner {
                    position: sticky;
                    & > *:first-child {
                        margin-top: 0;
                    }
                }
            }
            ul {
                margin: 16px 0;
                padding-left: 16px;
            }
            a {
                text-decoration: underline;
                text-underline-offset: 2px;
            }
            .on-this-page {
                padding: 32px 30px;
                background-color: var(--post-brand-color, $primary_color);
                & > *:first-child {
                    margin-top: 0;
                } 
                & > *:last-child {
                    margin-bottom: 0;
                } 
                .__heading {
                    color: #fff;
                }
                ul.links-list {
                    li {
                        margin-bottom: 8px;
                        padding: 0;
                        font-size: 0.875rem;
                        font-family: $primary_font_bold;
                        color: #fff;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            color: #fff;
                        }
                    }
                }
            }
            .secondary-info {
                padding: 10px 30px 32px;
                background-color: var(--post-brand-color, $primary_color);
                .__heading {
                    color: #fff;
                }
                ul.sc-info-list {
                    margin-bottom: 0;
                    padding: 0;
                    li {
                        margin-bottom: 10px;
                        padding: 0;
                        display: flex;
                        align-items: start;
                        gap: 10px;
                        img.__icon {
                            margin-top: 2px;
                            display: block;
                            width: 14px;
                            height: 14px;
                        }
                        .__info {
                            & * {
                                color: #fff;
                                font-family: $primary_font_bold;
                            }
                            & > *:first-child {
                                margin-top: 0;
                            } 
                            & > *:last-child {
                                margin-bottom: 0;
                            } 
                            p {
                                margin: 14px 0;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .additional-info-boxes {
                margin-top: 30px;
                .aib-box {
                    margin-top: 30px;
                    padding: 30px;
                    background-color: #fff;
                    &:first-child {
                        margin-top: 0;
                    }
                    a {
                        color: var(--post-brand-color, $primary_color);
                        font-family: $primary_font_bold;
                    }
                    strong ,b {
                        color: var(--post-brand-color, $primary_color);
                    }
                    .__heading {
                        border-color: $dv_black;
                    }
                    .__content {
                        & > *:first-child {
                            margin-top: 0;
                        } 
                        & > *:last-child {
                            margin-bottom: 0;
                        } 
                        p {
                            margin: 14px 0;
                        }
                    }
                }
            }
        }
    }
}

@keyframes content-slide-left {
    0% {
        transform: translateX(-100%);
        opacity: 0.1;
    }
  
    50% {
        transform: translateX(-50%);
        opacity: 0.5;
    }
  
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes sidebar-slide-right {
    0% {
        transform: translateX(100%);
        opacity: 0.1;
    }
  
    50% {
        transform: translateX(50%);
        opacity: 0.5;
    }
  
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/************************ Laptop *************************/
@media only screen and (max-width: 1200px) {
    section.main-content {
        .main-content-inner {
            gap: 30px;
            .content-wrapper {
                .__content {
                    .__title {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
/************************ Tablet ************************/
@media only screen and (max-width: 1024px) {
    section.main-content {
        .main-content-inner {
            max-width: 900px;
            gap: 24px;
            .content-wrapper {
                .wp-video {
                    height: 350px;
                    .mejs-container {
                        height: 350px!important;
                        iframe {
                            height: 350px!important;
                        }
                        video {
                            height: 350px!important;
                        }
                    }
                }
                .__content {
                    padding: 26px 20px;
                    .__title {
                        font-size: 1.875rem;
                    }
                }
            }
            .sidebar {
                .on-this-page {
                    padding: 20px;
                }
                .secondary-info {
                    padding: 10px 20px 20px;
                }
                .additional-info-boxes {
                    .aib-box {
                        margin-top: 20px;
                        padding: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section.main-content {
        .main-content-inner {
            flex-wrap: wrap;
            max-width: 700px;
            &.has-sidebar {
                .content-wrapper {
                    width: 100%;
                }
            }
            .content-wrapper {
                .wp-video {
                    height: 320px;
                    .mejs-container {
                        height: 320px!important;
                        iframe {
                            height: 320px!important;
                        }
                        video {
                            height: 320px!important;
                        }
                    }
                }
                .__content {
                    .__title {
                        margin-bottom: 24px;
                        font-size: 1.5rem;
                    }
                    .__cta {
                        margin-top: 24px;
                        padding: 10px 24px 8px;
                    }
                }
            }
            .sidebar {
                max-width: 100%;
                .additional-info-boxes {
                    margin-top: 24px;
                }
            }
        }
    }
}

/********************** Mobile ***********************/
@media only screen and (max-width: 425px) {
    section.main-content {
        .main-content-inner {
            .content-wrapper {
                .wp-video {
                    height: 260px;
                    .mejs-container {
                        height: 260px!important;
                        iframe {
                            height: 260px!important;
                        }
                        video {
                            height: 260px!important;
                        }
                    }
                }
            }
        }
    }
}