// ================== Members List ===================
.members-list-section {
    padding-top: var(--s-pd-top, 0);
    padding-bottom: var(--s-pd-bottom, 60px);
    @media(max-width: 1024px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.8);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.8);
    }
    @media(max-width: 768px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.6);
        padding-bottom: calc(var(--s-pd-bottom, 60px) * 0.6);
    }
    .members-list-wrapper {
        margin: auto;
        max-width: 1024px;
        padding: 38px 24px;
        background-color: var(--s-bg-color);
        .title {
            margin-top: 0;
            margin-bottom: 24px;
            font-size: 2.313rem;
            color: $primary_color;
        }
        .members-list {
            margin: 0;
            padding: 0;
            list-style: none;
            .member {
                margin: 0;
                padding: 40px 24px;
                display: flex;
                gap: 62px;
                border-bottom: 1px solid #223540;
                .__img {
                    display: flex;
                    width: fit-content;
                    img {
                        width: 210px;
                        height: 210px;
                        object-fit: cover;
                        border-radius: 100%;
                    }
                }
                .__info {
                    *:first-child {
                        margin-top: 0;
                    }
                    .name {
                        margin-bottom: 10px;
                    }
                    .qualifi {
                        margin-top: 10px;
                    }
                    .desc {
                        *:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .members-list-wrapper {
            .title {
                font-size: 2.188rem;
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        .members-list-wrapper {
            .title {
                font-size: 1.875rem;
            }
            .members-list {
                .member {
                    padding: 32px 20px;
                    gap: 40px;
                    .__img {
                        img {
                            width: 180px;
                            height: 180px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .members-list-wrapper {
            .title {
                font-size: 1.5rem;
            }
        }
    }
    @media only screen and (max-width: 640px) {
        .members-list-wrapper {
            padding: 30px 20px;
            .members-list {
                .member {
                    padding: 24px 0;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 24px;
                    .__img {
                        img {
                            width: 140px;
                            height: 140px;
                        }
                    }
                    .__info {
                        text-align: center;
                    }
                }
            }
        }
    }
}