// color variables
$primary_color:   var(--primary-color);
$secondary_color: var(--secondary-color);
$tertiary_color:  var(--tertiary-color);
$accent_color:    var(--accent-color);
$dv_black:        var(--black-color);
$dv_background:   var(--background-color);
$dv_white:        var(--white-color);
$dv_dark:         #007995;
$donate_color:    var(--secondary-color);

// font variables
$primary_font_light:  'Majorant-Light';
$primary_font_book:   'Majorant-Regular';
$primary_font_medium: 'Majorant-Regular';
$primary_font_demi:   'Majorant-Medium';
$primary_font_bold:   'Majorant-Medium';

// Path variables
$dv_img_dir: "/wp-content/themes/diabetes-victoria/assets/imgs";

*, ::before, ::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    --header-height: 0;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    letter-spacing: 0.2px;
    font-family: $primary_font_medium;
    font-weight: normal;
    line-height: 140%;
    color: var(--black-color);
    background-color: var(--post-bg-color, $dv_background);
    &.hidden {
        overflow: hidden;
    }
    @media print {
        margin-top: 0 !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary_font_bold;
    font-weight: bold;
    line-height: 120%;
}

h1 {
    font-size: 2.313rem;
    @media only screen and (max-width: 1440px) {
        font-size: 2.125rem;
    }
    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 768px) {
        font-size: 1.875rem;
    }
}
h2 {
    font-size: 1.688rem;
    @media only screen and (max-width: 1024px) {
        font-size: 1.625rem;
    }
    @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}
h3 {
    font-size: 1.313rem;
    @media only screen and (max-width: 1024px) {
        font-size: 1.275rem;
    }
    @media only screen and (max-width: 768px) {
        font-size: 1.25rem;
    }
}
h4 {
    font-size: 1.213rem;
}
h5 {
    font-size: 1.113rem;
}
h6 {
    font-size: 1.013rem;
}

p , li {
    color: $dv_black;
    font-family: $primary_font_medium;
}

p {
    margin: 20px 0;
    font-size: 0.875rem;
    line-height: 142%;
    @media only screen and (max-width: 768px) {
        margin: 14px 0;
    }
}
ul, ol {
    margin: 24px 0 34px;
    padding-left: 30px;
    @media only screen and (max-width: 768px) {
        margin: 20px 0 26px;
        padding-left: 24px;
        li {
            padding-left: 2px;
        }
    }
}
li {
    margin-bottom: 6px;
    padding-left: 6px;
    font-size: 0.875rem;
    line-height: 140%;
    &:last-child {
        margin-bottom: 0;
    }
}

strong, b {
    font-family: $primary_font_bold;
}

a {
    color: $secondary_color;
    text-decoration: none;
}

br {
    content: "";
    display: block;
    margin-top: 8px;
}

button {
    cursor: pointer;
}

label {
    cursor: pointer;
}

span {
    word-break: auto-phrase;
}

img {
    width: 100%;
}

input[type=submit] {
    cursor: pointer;
}

div.table-wrapper[role=region] {
    margin: 34px 0;
    overflow-x: auto;
    background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)), 
                linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%, 
                radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), 
                radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
    @media only screen and (max-width: 1024px) {
        margin: 24px 0;
    }
}

table {
    font-size: 0.875rem;
    line-height: 140%;
    border: 3px solid;
    border-color: $dv_black;
    border-collapse: collapse;
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
    &.alignright {
        margin-left: auto;
        margin-right: 0;
    }
    &.alignleft {
        margin-left: 0;
        margin-right: auto;
    }
    tr {
        &:first-child {
            border-bottom: 3px solid;
            th, td {
                font-family: $primary_font_bold;
            }
        }
        th, td {
            max-width: 300px;
            padding: 14px 16px 10px;
            border: 1px solid;
            &:first-child {
                min-width: 150px;
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        tr {
            th, td {
                min-width: 100px;
                &:first-child {
                    min-width: 140px;
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {
        min-width: 100%;
    }
}

.container {
    max-width: 1366px;
    margin: auto;
    padding: 0 15px;
    @media only screen and (max-width: 1440px) {
        max-width: 1266px;
    }
    @media only screen and (max-width: 1200px) {
        max-width: 1100px;
    }
    @media only screen and (max-width: 1024px) {
        max-width: 900px;
    }
    @media only screen and (max-width: 768px) {
        max-width: 700px;
    }
}

.post-archive {
    padding-bottom: 80px;
    .container {
        max-width: 1054px;
        @media only screen and (max-width: 1024px) {
            max-width: 900px;
        }
        @media only screen and (max-width: 768px) {
            max-width: 700px;
        }
    }
    @media only screen and (max-width: 1024px) {
        padding-bottom: 60px;
    }
    @media only screen and (max-width: 768px) {
        padding-bottom: 40px;
    }
}

.btn-small {
    padding: 10px 14px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    background-color: $dv_dark;
    border: none;
}
.btn-small:hover {
    background-color: $secondary_color;
}

section.error-404 {
    max-width: 1054px;
    margin: 0 auto;
    padding: 80px 15px;
    h1 {
        margin-top: 0;
        color: $primary_color;
    }
}

header.sticky {
    .breadcrumb {
        padding: 14px 0 12px;
    }
}
.breadcrumb {
    padding: 24px 0 22px;
    background-color: var(--post-brand-color, $secondary_color);
    .breadcrumb-list {
        max-width: 1054px;
        list-style: none;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 6px;
        margin: 0 auto;
        padding: 0 15px;
        line-height: 1;
        li {
            margin: 0;
            padding: 0;
            color: var(--post-sub-brand-color, $dv_white);
            font-size: 0.875rem;
            font-family: $primary_font_bold;
            &:last-child {
                position: relative;
                top: -1px;
            }
            a {
                position: relative;
                top: -2px;
                display: block;
                line-height: 1.5rem;
                color: var(--post-sub-brand-color, $dv_white);
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
        .arrow {
            color: var(--post-sub-brand-color, $dv_white);
            font-family: $primary_font_bold;
        }
        @media only screen and (max-width: 1024px) {
            max-width: 900px;
        }
        @media only screen and (max-width: 768px) {
            max-width: 700px;
            li {
                font-size: 0.8rem;
            }
        }
    }
    @media only screen and (max-width: 1440px) {
        padding: 24px 0 20px;
    }
    @media only screen and (max-width: 1024px) {
        padding: 20px 0 16px;
    }
    @media only screen and (max-width: 600px) {
        padding: 14px 0 12px;
    }
}

section.post-title {
    padding: 50px 0;
    .container {
        max-width: 1054px;
        @media only screen and (max-width: 1024px) {
            max-width: 900px;
        }
        @media only screen and (max-width: 768px) {
            max-width: 700px;
        }
    }
    h1 {
        margin: 0;
        max-width: 650px;
        color: var(--post-brand-color, $primary_color);
    }
    @media only screen and (max-width: 1024px) {
        padding: 30px 0;
    }
}

.__carousel-navigation-style {
    display: none;
    position: relative;
    padding: 0 85px;
    .slick-arrow {
        position: absolute;
        top: calc(50% - 40px);
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 0;
        line-height: 0;
        background: var(--post-brand-color, $primary_color);
        padding: 0;
        border: none;
        border-radius: 0;
        transform: translateY(-50%);
        &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin: 0 4px 0 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: none;
            border-right: 22px solid #fff;
        }
        &.slick-next  {
            left: auto;
            right: 0;
            &:before {
                margin: 0 0 0 4px;
                border-left: 22px solid #fff;
                border-right: none;
            }
        }
        &.slick-disabled {
            opacity: 0.25;
            cursor: default;
        }
        @media (max-width: 1500px) {
            width: 60px;
            height: 60px;
        }
        @media (max-width: 1024px) {
            width: 45px;
            height: 45px;
            &:before {
                border-top-width: 12px;
                border-bottom-width: 12px;
                border-right-width: 18px;
            }
            &.slick-next {
                &:before {
                    border-left-width: 18px;
                }
            }
        }
        @media (max-width: 768px) {
            width: 35px;
            height: 35px;
            &:before {
                border-top-width: 10px;
                border-bottom-width: 10px;
                border-right-width: 16px;
            }
            &.slick-next {
                &:before {
                    border-left-width: 16px;
                }
            }
        }
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
        margin: 50px 0 0;
        padding: 0;
        .slick-active {
            button {
                opacity: 1;
                cursor: auto;
            }
        }
        button {
            font-size: 0;
            line-height: 0;
            width: 12px;
            height: 12px;
            background: $primary_color;
            opacity: 0.25;
            padding: 0;
            border: none;
            border-radius: 100px;
        }
    }
    .slick-dots-custom {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 50px 0 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
        .slick-active {
            button {
                display: block;
                cursor: auto;
            }
        }
        button {
            font-family: $primary_font_bold;
            font-size: 24px;
            color: var(--post-brand-color, $primary_color);
            background-color: transparent;
            display: none;
            padding: 0;
            border: none;
            border-radius: 0;
        }
        @media (max-width: 1024px) {
            margin: 32px 0 0;
        }
    }
    @media (max-width: 1200px) {
        // handled in .slick-arrow
    }
    @media (max-width: 1024px) {
        padding: 0 60px;
    }
    @media (max-width: 768px) {
        padding: 0 50px;
    }
}

.dv-spinner {
    width: 28px;
    height: 28px;
    clear: both;
    border: 4px rgba(#fff, 0.25) solid;
    border-top: 4px rgba(#fff, 1) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot .6s infinite linear;
    animation: spCircRot .6s infinite linear;
    @media (max-width: 768px) {
        width: 24px;
        height: 24px;
        border-width: 3px;
    }
}
@keyframes spCircRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.posts-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 66px;
    row-gap: 80px;
    @media only screen and (max-width: 1440px) {
        column-gap: 50px;
        row-gap: 60px;
    }
    @media only screen and (max-width: 1200px) {
        column-gap: 40px;
        row-gap: 50px;
    }
    @media only screen and (max-width: 1024px) {
        column-gap: 30px;
        row-gap: 40px;
    }
    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 36px;
    }
    @media only screen and (max-width: 600px) {
        row-gap: 24px;
    }
    @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .post {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        background-color: #fff;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.2s;
        animation: card-zoom-out 0.3s linear;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;
            .__thumb img {
                transform: scale(1.1);
            }
        }
        .__thumb {
            overflow: hidden;
            height: 164px;
            background-color: #f4f4f4;
            img {
                display: block;
                height: 100%;
                object-fit: cover;
                transition: all 0.9s;
            }
        }
        .post-meta {
            padding: 18px 26px 24px;
            @media only screen and (max-width: 768px) {
                padding: 16px;
            }
            .__meta {
                margin-bottom: 14px;
                display: flex;
                justify-content: space-between;
                gap: 16px;
                .term {
                    text-align: right;
                    font-family: $primary_font_demi;
                    color: var(--post-brand-color, #2b468c);
                }
                .date {
                    white-space: nowrap;
                    color: #555;
                }
            }
        }
        .__title {
            font-size: 1.125rem;
            line-height: 130%;
            font-family: $primary_font_bold;
            a {
                display: block;
                color: $dv_black;
                transition: all 0.3s;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border: 2px solid transparent;
                    cursor: pointer;
                }
                &:focus {
                    outline: none;
                    &::before {
                        outline: -webkit-focus-ring-color auto 1px;
                    }
                }
            }
        }
    }
}

.pdfembed-iframe{
    border: 3px solid var(--post-brand-color, #2b468c) !important;
}

.dv-editor-content {
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    a {
        font-family: $primary_font_medium;
        color: var(--post-brand-color, $primary_color);
        text-decoration: underline;
        text-underline-offset: 2px;
        word-break: break-all;
    }
    img {
        display: block;
        width: auto;
        &.alignleft {
            margin: 0 auto 0 0;
        }
        &.aligncenter {
            margin: auto;
        }
        &.alignright {
            margin: 0 0 0 auto;
        }
    }
    iframe {
        width: 100%!important;
    }
}

.form-embed-section {
    background-color: var(--s-bg-color);
    padding-top: var(--s-pd-top, 0);
    padding-bottom: var(--s-pd-bottom, 80px);
    @media (max-width: 1024px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.8);
        padding-bottom: calc(var(--s-pd-bottom, 80px) * 0.8);
    }
    @media (max-width: 768px) {
        padding-top: calc(var(--s-pd-top, 0) * 0.6);
        padding-bottom: calc(var(--s-pd-bottom, 80px) * 0.6);
    }
}

.member-login-overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(255 255 255 / 95%);
    .loading-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .dv-spinner {
        width: 50px;
        height: 50px;
        border: 6px rgb(1 155 194 / 26%) solid;
        border-top: 6px $secondary_color solid;
        @media only screen and (max-width: 768px) {
            width: 40px;
            height: 40px;
            border: 5px rgb(1 155 194 / 26%) solid;
            border-top: 5px $secondary_color solid;
        }
    }
}

.table-wrapper table {
    width: 100%;
    th > *,
    td > * {
        margin-top: 10px;
        margin-bottom: 10px;
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
    }
    @media only screen and (max-width: 768px) {
        th, td {
            font-size: 0.75rem;
            min-width: 140px;
            padding: 14px 10px 10px;
            > * {
                font-size: 0.75rem;
            }
        }
        td {
            li {
                font-size: 0.75rem;
            }
        }
    }
}

/* Print-specific styles */
@media print {
    .site-tools,
    #pojo-a11y-toolbar {
        display: none !important;
    }
    header.site-header {
        position: relative !important;
    }
    footer .footer-banner {
        display: none !important;
    }
}