body.admin-bar {
    header.site-header {
        top: 32px;
    }
    @media only screen and (max-width: 768px) {
        header.site-header {
            top: 46px;
        }
    }
}
body.home {
    header {
        nav#site-navigation {
            border-bottom: 1px solid #d8d8d8;
        }
    }
}

header.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: $primary_color;
    &.sticky {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        .header-inner{
            padding: 22px 0 16px;
            .users-action {
                * {
                    color: $primary_color;
                    border-color: $primary_color;
                }
            }
        }
        #header-logo {
            img {
                width: 132px;
                &.logo-full-color {
                    display: block;
                }
            }
        }
        #btn-nav-bar {
            color: $primary_color;
        }
        nav#site-navigation {
            padding-bottom: 10px;
            border: none; 
            ul#primary-menu-list {
                li.menu-item {
                    a {
                        color: $primary_color;
                    }
                }
                li.menu-item-has-children{
                    &::after {
                        background-image: url(#{$dv_img_dir}/icon-chevron-down-darkblue.svg);
                    }
                }
                .sub-menu {
                    li.menu-item {
                        a {
                            color: $dv_white;
                        }
                    }
                }
            }
        }
    }
}

.top-menu-mobile {
    #top-menu {
        display: none;
        ul.top-menu-list {
            li {
                height: auto;
            }
        }
    }
}

// Top menu
#top-menu {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    border-bottom: 2px solid $primary_color;
    background-color: $dv_white;
    .container {
        width: 100%;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .top-menu-list {
        display: flex;
        .col-right {
            display: flex;
            position: absolute;
            right: 0;
            height: 100%;
        }
        li {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 100%;
            border-left: 3px solid $primary_color;
            a {
                font-family: $primary_font_bold;
                transition: all 0.3s;
            }
            button {
                padding: 12px 20px;
                border: none;
                font-family: $primary_font_bold;
                transition: all 0.3s;
            }
            svg {
                g {
                    fill: $primary_color;
                }
                g#search {
                    circle {
                        fill: #fff;
                        stroke: $primary_color;
                    }
                    line {
                        fill: $primary_color;
                        stroke: $primary_color;
                    }
                }
            }
        }
        .useful-links-list {
            display: flex;
            row-gap: 6px;
            height: 100%;
            padding: 18px 16px 16px 0;
            li {
                padding: 1px 8px 2px;
                border-right: 2px solid $primary_color;
                border-left: none;
                font-size: 0.875rem;
                line-height: 1;
                font-family: $primary_font_bold;
                color: $primary_color;
                &:first-child {
                    padding-left: 2px;
                }
                &:last-child {
                    border-right: none;
                }
            }
            a {
                margin-bottom: -2px;
                color: $primary_color;
                white-space: nowrap;
            }
            a:hover {
                color: $secondary_color;
            }
        }
        .phone {
            max-width: 64px;
        }
        .member-login {
            border-right: 3px solid $primary_color;
        }
        .search {
            max-width: 66px;
            border-left: none;
        }
        .donate {
            max-width: 214px;
            border-left: none;
        }
        .languages {
            border-left: none;
        }
        #btn-phone {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 20px;
            background-color: $dv_white;
            svg {
                width: 20px;
                height: 20px;
            }
            &:hover {
                background-color: $primary_color;
                svg g {
                    fill: $dv_white;
                }
            }
        }

        #btn-member-login {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;    
            font-size: 1.25rem;
            line-height: 1;
            padding: 14px 30px 12px;
            color: $primary_color;
            white-space: nowrap;
            background-color: $dv_white;
            &:hover {
                color: $dv_white;
                background-color: $primary_color;
            }
        }

        #btn-search {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            z-index: 2;
            background-color: $dv_white;
            svg {
                width: 20px;
                height: 20px;
            }
            &:hover {
                color: $dv_white;
                background-color: $primary_color;
                svg {
                    g {
                        circle {
                            stroke: #fff;
                            fill: var(--primary-color);
                        }
                        line {
                            fill: #fff;
                            stroke: #fff;
                        }
                    }
                }
            }
        }

        #btn-donate {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 12px 70px;
            color: $dv_white;
            font-size: 1.25rem;
            line-height: 1;
            background-color: $secondary_color;
            &:hover {
                background-color: $primary_color;
            }
        }
        
        #btn-languages {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            padding: 14px 30px;
            color: $primary_color;
            font-size: 1.25rem;
            line-height: 1;
            background-color: #d9e7ff;
            svg {
                g#language-solid {
                    transition: all 0.3s;
                }
                g {
                    fill: $primary_color;
                }
            }
        }
        #btn-languages:hover {
            color: $dv_white;
            background-color: $primary_color;
            svg g {
                fill: $dv_white;
            }
        }
    }
}

.header-inner {
    padding: 38px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .users-action {
        > * {
            padding: 2px 10px 0 8px;
            font-size: 1rem;
            font-family: $primary_font_bold;
            color: #fff;
            border-right: 2px solid #fff;
        }
        > *:last-child {
            border: none;
        }
        a {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
        .btn-member-logout {
            display: none;
        }
        @media only screen and (max-width: 1024px) {
            display: none;
        }
    }
}

.user-action-mobile {
    display: none;
    width: 100%;
    margin: 24px auto;
    justify-content: center;
    .btn-member-logout {
        padding: 4px;
    }
    * {
        font-size: 1rem;
        line-height: 1;
        font-family: $primary_font_bold;
        color: #fff;
    }
    *:last-child {
        border: none;
    }
    a {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    @media only screen and (max-width: 1024px) {
        display: flex;
    }
}

// Logo
#header-logo {
    position: relative;
    img {
        width: 214px;
        max-width: 100%;
        transition: all 0.3s;
        &.logo-full-color {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}

#btn-nav-bar {
    display: none;
    color: #fff;
    padding: 6px;
    margin: 0;
    height: fit-content;
    font-size: 30px;
    line-height: 1;
    border: none;
    background-color: transparent;
    span {
        display: block;
    }
    .icon-bar {
        animation: icon-bar-rotate 0.2s linear both;
    }
    .icon-close {
        display: none;
        padding: 0 2px;
        animation: icon-close-rotate 0.2s linear both;
    }
    &.active {
        .icon-bar {
            display: none;
        }
        .icon-close {
            display: block;
        }
    }
}

nav#site-navigation {
    padding-bottom: 20px;
    ul#primary-menu-list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
        gap: 8px;
        > li.menu-item:first-child{
            padding-left: 2px;
        }
        li.menu-item {
            display: flex;
            align-items: center;
            position: relative;
            gap: 8px;
            margin: 0;
            padding: 10px;
            font-size: 1.094rem;
            line-height: 120%;
            list-style: none;
            white-space: nowrap;
            font-family: $primary_font_bold;
            &.current_page_item {
                > a {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }
            &.current-menu-item {
                > a {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }
            a {
                color: $dv_white;
            }
        }
        li.menu-item-has-children {
            &::after {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                background-image: url(#{$dv_img_dir}/icon-chevron-down-white.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                transition: all 0.3s;
            }
            &:hover{
                > .sub-menu {
                    display: block;
                }
                &::after {
                    transform: rotate(-180deg);
                }
            }
        }
        .sub-menu {
            display: none;
            min-width: 220px;
            margin: 0;
            padding: 10px 16px;
            position: absolute;
            transform: translateY(100%);
            bottom: 1px;
            background-color: $primary_color;
            z-index: 10;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            animation: menuDropDown 0.4s ease;
            border: 1px solid #647a91;
        }
    }
}

@keyframes menuDropDown {
    0% {
        opacity: 0.8;
        transform: translateY(95%);
    }
    100% {
        opacity: 1;
        transform: translateY(100%);
    }
}

@media only screen and (max-width: 1500px) {
    #top-menu {
        .top-menu-list {
            .useful-links-list {
                li {
                    font-size: 0.875rem;
                }
            }
            #btn-phone {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
            #btn-member-login {
                font-size: 1.125rem;
            }
            #btn-search {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
            #btn-donate {
                font-size: 1.125rem;
            }
            #btn-languages {
                font-size: 1.125rem;
            }
        }
    }
}

/*************************** Laptop **************************/
@media only screen and (max-width: 1440px) {
    header.site-header{
        &.sticky {
            #top-menu {
                display: none;
            }
            .header-inner{
                padding: 16px 0 10px;
            }
            nav.breadcrumb {
                display: none;
            }
        }
    }
    #top-menu {
        .top-menu-list {
            .useful-links-list {
                padding: 16px 16px 14px 0;
                li {
                    font-size: 0.8rem;
                }
            }
            #btn-phone {
                padding: 12px 16px;
            }
            #btn-member-login {
                font-size: 1rem;
            }
            #btn-search {
                padding: 12px 16px;
            }
            #btn-donate {
                font-size: 1rem;
            }
            #btn-languages {
                font-size: 1rem;
            }
        }
    }
    .header-inner{
        padding: 16px 0 10px;
    }
    #header-logo {
        img {
            width: 132px;
        }
    }
    nav#site-navigation {
        padding-bottom: 8px;
        ul#primary-menu-list {
            flex-wrap: wrap;
            li.menu-item {
                font-size: 0.938rem;
            }
            li.menu-item-has-children::after {
                width: 15px;
                height: 14px;
            }
        } 
    }
}
@media only screen and (max-width: 1340px) {
    #top-menu {
        .container {
            padding-right: 0;
        }
        .top-menu-list {
            .useful-links-list {
                flex-wrap: wrap;
                padding: 10px 16px 8px 0;
            }
            .col-right {
                position: relative;
                height: auto;
            }
        }
    }
}

/*************************** Tablet **************************/
@media only screen and (max-width: 1024px) {
    header.site-header {
        box-shadow: 0px 10px 20px -25px rgba(0, 0, 0, 0.5);
        &.sticky {
            .header-inner{
                padding: 12px 0 14px;
            }
        }
    }
    #top-menu {
        .top-menu-list {
            flex-wrap: wrap;
            justify-content: center;
            .useful-links-list {
                padding: 16px;
            }
            .col-right {
                border-top: 2px solid $primary_color;
            }
            #btn-member-login {
                padding: 12px 30px 10px;
                font-size: 1rem;
            }
            #btn-donate {
                padding: 12px 60px 10px;
                font-size: 1rem;
            }
            #btn-languages {
                padding: 12px 30px 10px;
                font-size: 1rem;
            }
        } 
    }
    .header-inner{
        padding: 12px 0;
    }
    #header-logo {
        img {
            width: 150px;
        }
    }
    #btn-nav-bar {
        display: block;
    }
    body.admin-bar {
        nav#site-navigation {
            height: calc(var(--viewport-height) - var(--header-height) - var(--wp-admin--admin-bar--height) + var(--breadcrumb-height) + 2px);
        }
    }
    nav#site-navigation {
        display: none;
        height: calc(var(--viewport-height) - var(--header-height) + var(--breadcrumb-height) + 2px);
        overflow-y: auto;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 100;
        margin-top: -1px;
        padding: 16px 0 40px;
        background-color: $primary_color;
        border-top: 1px solid #d8d8d8;
        animation: nav-slide-show 0.3s ease;
        &.active {
            display: block;
        }
        .primary-menu-container {
            max-width: 890px;
            margin: auto;
            padding: 0 17px;
        }
        ul#primary-menu-list {
            flex-direction: column;
            li.menu-item {
                padding: 12px 0;
                flex-direction: column;
                align-items: normal;
                border-bottom: 1px solid #d8d8d8;
                a {
                    color: $dv_white!important;
                }
            } 
            li.menu-item-has-children {
                &::after {
                    background-image: url(#{$dv_img_dir}/icon-chevron-down-white.svg)!important;
                    position: absolute;
                    right: 2px;
                }
                &:hover {
                    > .sub-menu {
                        display: none;
                    }
                    &::after {
                        transform: none;
                    }
                }
                &.active {
                    > .sub-menu {
                        display: block!important;
                    }
                    &::after {
                        transform: rotate(-180deg)!important;
                    }
                }
            }
            .sub-menu {
                position: relative;
                margin-left: 16px;
                padding: 0 16px;
                width: 100%;
                box-shadow: none;
                transform: none;
                animation: none;
                border: none;
                border-left: 1px solid #d8d8d8;
                li.menu-item {
                    border: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 782px) {
    body.admin-bar {
        header.site-header {
            &.sticky {
                top: 46px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header.site-header{
        &.sticky {
            #top-menu {
                display: flex;
            }
            .header-inner {
                padding: 10px 0 12px;
            }
            #header-logo {
                img {
                    width: 120px;
                }
            }
        }
    }
    #top-menu {
        .top-menu-list {
            display: none;
        }
    }
    .top-menu-mobile {
        #top-menu {
            display: block;
            border-bottom: none;
            background-color: $primary_color;
            .container {
                padding: 0 18px;
            }
            .top-menu-list {
                display: flex;
                justify-content: flex-start;
                li {
                    border: none;
                    height: auto;
                }
                .useful-links-list {
                    margin: 10px 0;
                    padding: 16px 0;
                    justify-content: flex-start;
                    gap: 16px;
                    li {
                        padding: 2px;
                        font-size: 0.875rem;
                        border-color: $dv_white;
                        a {
                            color: $dv_white;
                        }
                    }
                }
                .col-right {
                    width: 100%;
                    padding: 0 2px;
                    gap: 10px;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                #btn-phone {
                    padding: 12px 16px;
                    background-color: $dv_white;
                    height: fit-content;
                    &:hover {
                        svg g {
                            fill: $primary_color;
                        }
                    }
                }
                #btn-member-login {
                    padding: 13px 22px 11px;
                    line-height: 1;
                    background-color: $dv_white;
                    height: fit-content;
                    &:hover {
                        color: $primary_color;
                    }
                }
                #btn-search {
                    padding: 12px 16px;
                    height: fit-content;
                    &:hover {
                        color: inherit;
                    }
                }
                #btn-donate {
                    padding: 13px 22px 11px;
                    line-height: 1;
                    height: fit-content;
                }
                #btn-languages {
                    padding: 10px 16px;
                    line-height: 1;
                    height: fit-content;
                }
            }
        }
    }
    .header-inner {
        padding: 10px 0;
    }
    #header-logo {
        img {
            width: 120px;
        }
    }
    #btn-nav-bar {
        margin: 0 -4px 0 0;
        font-size: 26px;
    }
    nav#site-navigation {
        .primary-menu-container {
            max-width: 690px;
        }
    }
    .search-common-wrapper {
        #btn-close-search {
            top: -46px;
            right: 0;
            padding: 10px 16px!important;
        }
    }
    .donate-popup {
        .donate-wrapper {
            margin-top: 120px!important;
            p {
                font-size: 0.875rem;
            }
            form {
                .amount-options {
                    .amounts-list {
                        gap: 24px;
                    }
                }
            }
        }
    }
}

/*************************** Mobile **************************/
@media only screen and (max-width: 600px) {
    body {
        #wpadminbar {
            position: fixed;
        }
    }
    .search-common-wrapper {
        #btn-close-search {
            right: 20px;
        }
    }
}

@media only screen and (max-width: 480px) {
    header.site-header {
        &.sticky {
            #header-logo {
                img{
                    width: 100px;
                }
            }
        }
    }
    #header-logo {
        img {
            width: 100px;
        }
    }
    #btn-nav-bar {
        font-size: 24px;
    }
    .top-menu-mobile {
        #top-menu {
            .top-menu-list {
                .col:first-child {
                    justify-content: start;
                }
                .useful-links-list {
                    flex-direction: column;
                    padding-left: 4px;
                    row-gap: 20px;
                }
                .col-right {
                    max-width: 380px;
                    margin: auto;
                }
            }
        }
    }
}

@keyframes dv-slide-down {
    0% {
        transform: translateY(-100%);
    }
  
    50% {
        transform: translateY(-50%);
    }
  
    100% {
        transform: translateY(0%);
    }
}

@keyframes nav-slide-show {
    0% {
        opacity: 0;
        transform: translateX(101%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
}

@keyframes icon-bar-rotate {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes icon-close-rotate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}
