// ================== Search page ===================
.search-results-wrapper {
    padding: 50px 15px 120px;
    margin: 0 auto;
    max-width: 1054px;
    width: 100%;
    h1 {
        margin: 0 0 24px;
        color: $primary_color;
    }
    form.search-results-form {
        margin-bottom: 26px;
        .search-inner {
            display: flex;
            gap: 20px;
            width: 100%;
            margin-bottom: 45px;
            label {
                width: 100%;
            }
            input[type=search] {
                width: 100%;
                padding: 20px 22px 19px;
                line-height: 1;
                font-size: 1rem;
                font-family: $primary_font_bold;
                color: $dv_black;
                background-color: #fff;
                border: 1px solid $primary_color;
                @media only screen and (max-width: 1024px) {
                    padding: 16px 18px 15px;
                }
                @media only screen and (max-width: 600px) {
                    padding: 14px 16px 12px;
                }
            }
            button[type=submit] {
                width: fit-content;
                padding: 22px 60px 20px;
                white-space: nowrap;
                font-size: 1rem;
                line-height: 1;
                font-family: $primary_font_bold;
                color: #fff;
                background-color: $primary_color;
                border: none;
                transition: all 0.3s;
                &:hover {
                    background-color: $secondary_color;
                }
                @media only screen and (max-width: 1024px) {
                    padding: 18px 40px;
                }
                @media only screen and (max-width: 600px) {
                    padding: 14px 26px 12px;
                    font-size: 0.875rem;
                }
            }
            @media only screen and (max-width: 1024px) {
                margin-bottom: 32px;
            }
            @media only screen and (max-width: 600px) {
                margin-bottom: 24px;
                flex-wrap: wrap;
                justify-content: right;
                gap: 16px;
            }
        }
        .search-result-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .results-count {
                display: inline-block;
                font-size: 0.875rem;
                line-height: 1;
                font-family: $primary_font_bold;
                color: $dv_black;
            }
            .results-sort {
                position: relative;
            }
            #btn-open-sort {
                padding: 4px 0 6px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 34px;
                font-size: 1rem;
                font-family: $primary_font_medium;
                color: $dv_black;
                border: none;
                background: none;
                border-bottom: 1px solid $primary_color;
                .chevron-icon {
                    display: inline-block;
                    margin-bottom: 4px;
                    width: 16px;
                    height: 16px;
                    transition: all 0.2s;
                    svg {
                        fill: $primary_color;
                        stroke: $primary_color;
                        g {
                            fill: $primary_color;
                            stroke: $primary_color;
                        }
                    }
                }
                &.active {
                    .chevron-icon {
                        transform: rotate(180deg);
                    }
                }
            }
            .sort-options {
                display: none;
                position: absolute;
                right: 0;
                z-index: 2;
                padding: 22px 26px;
                color: #fff;
                background-color: $primary_color;
                border-radius: 2px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                p {
                    margin-top: 0;
                    margin-bottom: 10px;
                    color: #fff;
                    font-family: $primary_font_medium;
                }
                label {
                    display: flex;
                    white-space: nowrap;
                    font-family: $primary_font_bold;
                }
                input[type=radio] {
                    display: inline-block;
                    margin: 1px 8px 0 0;
                    width: 16px;
                    height: 16px;
                }
                .sort-by {
                    margin-bottom: 24px;
                }
                .gr-radio {
                    display: flex;
                    gap: 32px;
                }
                #btn-apply-sort {
                    margin-top: 24px;
                    padding: 10px 20px 8px;
                    font-size: 1rem;
                    line-height: 1;
                    font-family: $primary_font_demi;
                    color: #fff;
                    border: none;
                    border: 2px solid #fff;
                    background: none;
                    transition: all 0.3s;
                    &:hover {
                        color: $primary_color;
                        background-color: #fff;
                    }
                }
                #btn-close-sort-opts {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    padding: 2px;
                    font-size: 22px;
                    border: none;
                    background: none;
                    color: #fff;
                    line-height: 1;
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
    #search-results {
        position: relative;
        width: 100%;
        padding: 38px 30px;
        background-color: #fff;
        &.loading {
            .loading-wrapper {
                display: flex;
            }
            .result-item {
                display: none;
            }
        }
        .loading-wrapper {
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .mess {
                margin: 0 0 10px;
                font-size: 1rem;
            }
            .dv-spinner {
                width: 32px;
                height: 32px;
                border: 4px #eee solid;
                border-top: 4px $primary_color solid;
            }
        }
        .result-item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            .__title {
                margin: 0 0 6px;
                @media only screen and (max-width: 600px) {
                    font-size: 1rem;
                }
            }
            .__link {
                display: inline-block;
                margin-bottom: 14px;
                font-size: 0.875rem;
                line-height: 140%;
                font-family: $primary_font_bold;
                color: $primary_color;
                text-decoration: underline;
                text-underline-offset: 2px;
                word-break: break-all;
                transition: all 0.3s;
                &:hover {
                    color: $secondary_color;
                }
                * {
                    word-break: break-all;
                }
                @media only screen and (max-width: 600px) {
                    margin-bottom: 8px;
                    font-size: 0.813rem;
                }
            }
            .__summary {
                font-size: 0.875rem;
                font-family: $primary_font_book;
                @media only screen and (max-width: 600px) {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
        @media only screen and (max-width: 1024px) {
            padding: 32px 24px;
        }
        @media only screen and (max-width: 600px) {
            padding: 24px 16px;
        }
    }
    .bottom-cta {
        margin-top: 42px;
        display: flex;
        justify-content: center;
        #btn-load-more-results {
            position: relative;
            display: inline-block;
            padding: 14px 26px 12px;
            font-size: 1rem;
            line-height: 1;
            font-family: $primary_font_bold;
            color: #fff;
            background-color: $primary_color;
            border: none;
            transition: all 0.3s;
            &:hover {
                background-color: $secondary_color;
            }
            .loading-wrapper {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.loading {
                .text {
                    visibility: hidden;
                }
                .loading-wrapper {
                    display: block;
                }
            }
            @media only screen and (max-width: 600px) {
                padding: 12px 22px 10px;
                font-size: 0.875rem;
            }
        }
        @media only screen and (max-width: 600px) {
            margin-top: 32px;
        }
    }
    @media only screen and (max-width: 1024px) {
        max-width: 900px;
        padding: 40px 15px 80px;
    }
    @media only screen and (max-width: 768px) {
        max-width: 700px;
    }
    @media only screen and (max-width: 600px) {
        padding: 40px 15px 40px;
    }
}
