// Site main style
// color variables
$primary_color:   #019BC2;
$secondary_color: #3F51B5;
$tertiary_color:  #E9730C;
$accent_color: #99D6E9;
$dv_black: #223540;
$dv_background: #F5FBFD;
$dv_white: #ffffff;
$dv_dark: #007995;
$donate_color: #3F51B5;

// font variables
$primary_font_light:  'ITC-Avant-Garde-Gothic-Pro_Light';
$primary_font_book:   'ITC-Avant-Garde-Gothic-Pro_Book';
$primary_font_medium: 'ITC-Avant-Garde-Gothic-Pro_Medium';
$primary_font_demi:   'ITC-Avant-Garde-Gothic-Pro_Demi';
$primary_font_bold:   'ITC-Avant-Garde-Gothic-Pro_Bold';

@import "_fonts";


.__carousel-navigation-style {
    display: none;
    position: relative;
    padding: 0 85px;
    .slick-arrow {
        position: absolute;
        top: calc(50% - 40px);
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 0;
        line-height: 0;
        background: $primary_color;
        padding: 0;
        border: none;
        border-radius: 0;
        transform: translateY(-50%);
        &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin: 0 4px 0 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: none;
            border-right: 22px solid #fff;
        }
        &.slick-next  {
            left: auto;
            right: 0;
            &:before {
                margin: 0 0 0 4px;
                border-left: 22px solid #fff;
                border-right: none;
            }
        }
        &.slick-disabled {
            opacity: 0.25;
            cursor: default;
        }
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
        margin: 50px 0 0;
        padding: 0;
        .slick-active {
            button {
                opacity: 1;
                cursor: auto;
            }
        }
        button {
            font-size: 0;
            line-height: 0;
            width: 12px;
            height: 12px;
            background: $primary_color;
            opacity: 0.25;
            padding: 0;
            border: none;
            border-radius: 100px;
        }
    }
    .slick-dots-custom {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 50px 0 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
        .slick-active {
            button {
                display: block;
                cursor: auto;
            }
        }
        button {
            font-family: $primary_font_bold;
            font-size: 24px;
            color: $primary_color;
            background-color: transparent;
            display: none;
            padding: 0;
            border: none;
            border-radius: 0;
        }
    }
    @media(max-width: 1200px) {
        .slick-arrow {
            width: 60px;
            height: 60px;
        }
    }
    @media(max-width: 1023.98px) {
        padding: 0 60px;
        .slick-arrow {
            width: 45px;
            height: 45px;
            &:before {
                border-top-width: 12px;
                border-bottom-width: 12px;
                border-right-width: 18px;
            }
            &.slick-next {
                &:before {
                    border-left-width: 18px;
                }
            }
        }
    }
    @media(max-width: 767.98px) {
        padding: 0 50px;
        .slick-arrow {
            width: 35px;
            height: 35px;
            &:before {
                border-top-width: 10px;
                border-bottom-width: 10px;
                border-right-width: 16px;
            }
            &.slick-next {
                &:before {
                    border-left-width: 16px;
                }
            }
        }
    }
}

@import "partials/modules/_faqs"; 
@import "partials/modules/_icon-promo-carousel"; 
@import "partials/modules/_media-slider"; 
@import "partials/modules/_bespoke-slider"; 
@import "partials/modules/_contact-us";
