// Site main style
// color variables
$primary_color:   #019BC2;
$secondary_color: #3F51B5;
$tertiary_color:  #E9730C;
$accent_color: #99D6E9;
$dv_black: #223540;
$dv_background: #F5FBFD;
$dv_white: #ffffff;
$dv_dark: #007995;
$donate_color: #3F51B5;

// font variables
$primary_font_light:  'ITC-Avant-Garde-Gothic-Pro_Light';
$primary_font_book:   'ITC-Avant-Garde-Gothic-Pro_Book';
$primary_font_medium: 'ITC-Avant-Garde-Gothic-Pro_Medium';
$primary_font_demi:   'ITC-Avant-Garde-Gothic-Pro_Demi';
$primary_font_bold:   'ITC-Avant-Garde-Gothic-Pro_Bold';

@import "_fonts";
