.pdfembed-iframe{
    border: 3px solid var(--post-brand-color, #019BC2) !important;
}
#tocs{
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* width */
#tocs::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#tocs::-webkit-scrollbar-track {
    background: #6fc0d4;
    border-radius: 4px;
}

/* Handle */
#tocs::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 4px;
}

/* Handle on hover */
/* #tocs::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

