

.table-wrapper table {
  width: 100%;
}

.table-wrapper table th > *,
.table-wrapper table td > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-wrapper table th > *:first-child,
.table-wrapper table td > *:first-child {
  margin-top: 0;
}

.table-wrapper table th > *:last-child,
.table-wrapper table td > *:last-child {
  margin-bottom: 0;
}

@media(max-width: 767.98px) {
  .table-wrapper table th,
  .table-wrapper table td {
    font-size: 0.75rem;
    min-width: 140px;
    padding: 14px 10px 10px;
  }
  
  .table-wrapper table th > *,
  .table-wrapper table td > *,
  .table-wrapper table td li {
    font-size: 0.75rem;
  }
}
